body {
    font-family: system-ui;
}

.img_card {
    background-color: rgb(164, 162, 162);
    width: 500px;
    font-family: system-ui;
    padding: 5px;
    margin: 20px;
    border-radius: 10px;

}

select {
    width: auto;
    font-size: 15px;
    height: 35px;
    font-family: system-ui;
}

ul#img_grid {  
    list-style: none;
}
li {
    float: left;
}

.tag {
    background-color: grey;
    
}

#unsplash_plus {
    background: linear-gradient(135deg,#fa00ff,#00e0ff 50%,#fa00ff);
    background-clip: text;
    -webkit-background-clip : text;
    -webkit-text-fill-color : transparent;
}

input#searchQuery {
    width: 590px;
    font-size: 15px;
    border-radius: 10px;
    padding-left: 15px;
    height: 30px;
    /* padding-top: 30px; */
}

button#submit {
    width: 250px;
    height: 40px;
    /* display: inline; */
    border-radius: 10px;
    background-color: #137792;
    color: white;
    font-size: 20px; 
    font-family: system-ui;
}

#random {
    width: 250px;
    height: 40px;
    border-radius: 10px;
    background-image: linear-gradient(to right, #F6990C, #D4680B, #EA4C00);
    color: white;
    font-size: 20px; 
    font-family: system-ui;
}

body {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: system-ui;
}

#logo {
    width: 100px;
    border-radius: 13px;
}